## Creating Tables And Inserting Records

In [1]:
import mysql.connector as sql

connection = sql.connect(
  host="localhost",
  user="root",
  password="Dipali@45",
  database="student"
)

print(connection)

<mysql.connector.connection.MySQLConnection object at 0x00000278693C5E48>

## Create Table In MySQL using Python

In [2]:
cursor = connection.cursor()

cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

### Insert Records in table

In [3]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("John", "Stats")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 1

In [4]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
values = [("Rushi", "Stats"),
        ("komal", "Maths"),
        ("Shubham","Data Science"),
        ("Sanket","Data Science"),
        ("Shubham","Maths"),
        ("Aditya","Data Science")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 2

In [5]:
cursor = connection.cursor()
cursor.execute("Select * from studentinfo")

In [6]:
lst=cursor.fetchall()

In [7]:
for records in lst:
    print(records)

(1, 'John', 'Stats')
(2, 'Rushi', 'Stats')
(3, 'komal', 'Maths')
(4, 'Shubham', 'Data Science')
(5, 'Sanket', 'Data Science')
(6, 'Shubham', 'Maths')
(7, 'Aditya', 'Data Science')

## Selecting Particular Rows

In [8]:
cursor.execute("Select * from studentinfo where name='Shubham'")

In [9]:
cursor.fetchall()

[(4, 'Shubham', 'Data Science'), (6, 'Shubham', 'Maths')]

## Select Particular Columns

In [10]:
cursor.execute("Select subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',),
 ('Stats',),
 ('Maths',),
 ('Data Science',),
 ('Data Science',),
 ('Maths',),
 ('Data Science',)]

In [11]:
## Select Distinct Columns
cursor.execute("SELECT DISTINCT subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',), ('Maths',), ('Data Science',)]

In [12]:
cursor.execute("SELECT name, subject FROM studentinfo WHERE name = 'Shubham' OR subject = 'Data Science'") 
#### Fetch All
cursor.fetchall()

[('Shubham', 'Data Science'),
 ('Sanket', 'Data Science'),
 ('Shubham', 'Maths'),
 ('Aditya', 'Data Science')]

## Drop Table

In [13]:
cursor.execute("DROP TABLE studentinfo")